<section class="products-section">
    <p class="products-section-text">100% natural</p>
    <h2 class="products-section-title">products</h2>
<ul class="products-list">

<li class="products-list-item">
    <div class="products-list-item-bg1">
        <h3 class="products-item-name">ice cream</h3>
        <svg class="products-svg">
            <use href="./images/sprite.svg#products-circles"></use>
        </svg>
        <p class="products-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button class="products-item-button"></button>
    </div>
</li>
    

<li class="products-list-item">
    <div class="products-list-item-bg2">
        <h3 class="products-item-name">ice coffee</h3>
        <svg class="products-svg">
            <use href="./images/sprite.svg#products-circles"></use>
        </svg>
        <p class="products-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button class="products-item-button"></button>
    </div>
</li>

<li class="products-list-item">
    <div class="products-list-item-bg3">
        <h3 class="products-item-name">milkshakes</h3>
        <svg class="products-svg">
            <use href="./images/sprite.svg#products-circles"></use>
        </svg>
        <p class="products-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button class="products-item-button"></button>
    </div>
</li>
</ul>
</section>